body {
  height: auto;
  width: 362px;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
  width: 362px;
  height: 46px;
}

.logo {
  width: 94px;
  height: 44px;
  padding: 1px 2px;
}

.menu_button {
  width: 40px;
  height: 40px;
}

.section01 {
  background-color: #1c1a19;
  width: 315px;
  height: auto;
  padding: 120px 24px;
  background-image: url(/images/Illustration.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

#section02 {
  width: auto;
  height: 100%;
  background-color: white;
  background-image: none;
  border: 2px solid red;
  padding: 24px 24px;
}

#section03 {
  width: auto;
  height: 390px;
  padding: 0px 24px;
  border: 2PX solid red;
}

#section04 {
    background-color: #1c1a19;
    border: 2px solid red;
}

.all2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 150px;
  margin-left:0px;
  padding: 120px 24px 38px 24px;
  
}

section.sect {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid red;
  align-items: center;
  justify-items: center;
  width: 260px;
  height: 281px;
  margin: 0%;
}
#mps {
  margin-top: 0%;
  background-image: url(/images/background2.png);
  background-size: cover;
}


.mps {
  border: 2px solid red;
  height: auto;
  width: auto;
  gap: 12px;
  }

.breakln {
  width: 308.4px;
  height: 0px;
  border: 1px solid red;
}

.workimg {
  width: 308.4px;
  height: 237px;

}

.lang {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  width: auto;
  height: 50px;
  gap: 15px;
}

p.lan {
  border: 2px solid green;
  width: 145px;
  height: auto;
  padding: 10px 12px;
  margin: 0%;
  text-align: center;
}

p#lan {
  color: #fff;
}

button {
  width: 124px;
  height: 48px;
  color: #fff;
  background-color: #ff6b00;
  margin-top: 5%;
  gap: 10px;
  padding: 10px;
}

.resume {
  width: 160px;
  height: 48;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
}

.button_1 {
  width: 308px;
  height: 48px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.37px;
  color: #fff;
  margin-top: auto;

}


h2 {
  border: 1px solid orangered;
  width: auto;
  height: 83px;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0%;
}

h3 {
  border: 1px solid black;
  width: autopx;
  height: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0%;
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 5px;
}

h3.head {
  width: auto;
  height: 81px;
  color: #fff;
  font-weight: 400;
  font-size: 44px;
  letter-spacing: 0%;

}

.writeup1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #091e42;
}

.writeup2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #fff;
}

.introduction {
  width: 327px;
  height: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #fff5e1;
  margin-top: 80px;
}

.write-up {
  width: auto;
  height: 148px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  width: 200px;
  height: auto;
  padding-left: 10px;
  border: 1px solid red;
}

ul li {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  padding: 8px;
}

.illustration {
  border: 1px solid greenyellow;
  display: flex;
  justify-content: end;
}

.side-image {
  margin-top: 3px;
  margin-left: 2px;
}

.aboutme {
  background-image: url(/images/illustration2.png);
  background-repeat: no-repeat;
  background-position-y: ;
  background-position-x: right;
  padding: 120px 24px;
  background-color: #1c1a19;
  border: 1px solid red;

}

.about_me {
  border: 1px solid red;
  width: auto;
  height: 79px;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: rgba(255, 107, 0, 1);
}
.writeup3 {
  width: 327px;
  height: 148px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  border: 1px solid red;
}

container.all1 {
  border: 1px solid blue;
  width: 375px;
  height: auto;
  gap: 24px;
  color: #f4f5f7;
}

.sect {
  border: 2px solid red;
  width: 225.46px;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px;
}

aside {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  height: 41.46px;
  width: auto;
  pad: 8px 12px;
  align-items: center;
  gap: 1em;
}

.s_icon {
  width: 18px;
  height: 18px;
  border: 1px solid red;
}

p.heading {
  width: 164px;
  height: auto;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  border: 1px solid red;
  margin: 0%;
  padding: 0%;
}

.skill {
  color: #fff;
  border: 1px solid red;
  text-align: center;
  height: 24px;
  font-size: 22px;
  line-height: 42.67px;
  font-weight: 400;
  padding: 0%;

}

